page-post-detail {
    p{
        text-align: justify;
      }
    .book-detail{
        font-size: 0.9em;
        line-height: 0.5em 
    }
    .book{
        top: 50%
    }
    h1{
        text-align: center
    }
    .clicked{
        color: gray
    }
}
